*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(65, 75%, 80%);
  color: hsl(65, 75%, 10%);
  font-family: sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.5rem;
}

.importButton {
  color: red;
}

.searchInput {
  border-radius: 10px;
  margin: 0.2rem;
  padding: 0.2rem;
}

.searchButton {
  border-radius: 10px;
  margin: 0.2rem;
  padding: 0.2rem;
}

.table {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border-spacing: 0.2rem;
  border: 1px solid hsl(65, 75%, 10%);
}

.thead {
  width: 100%;
  text-align: center;
  border: 1px solid hsl(65, 75%, 10%);
}

.gameRow {
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem;
}

.gameRow {
  background-color: hsl(65, 60%, 80%);
}

.gameRow:nth-child(2n) {
  background-color: hsl(65, 40%, 80%);
}
